@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: local('Rock Salt'), local('RockSalt'), url(http://themes.googleusercontent.com/static/fonts/rocksalt/v4/Q94aHXFHGip10K5uxi1jOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

html,body { height: 100%; margin: 0px; padding: 0px; }

body {
    background-color: #111111;
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    text-align: center;
}

@keyframes start {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


@-webkit-keyframes start {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

.main-grid .brick[data-state="init"] {
  display: none;
}

.main-grid .brick[data-state="start"]  {
  display: block;
  animation: start 0.3s;
  -webkit-animation: start 0.3s;
}

.main-grid .brick[data-state="move"]  {
  transition: top 0.3s, left 0.3s, width 0.3s, height 0.3s;
  -webkit-transition: top 0.3s, left 0.3s, width 0.3s, height 0.3s;
}

.brick {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius: 3px;
  color: #333;
  border: none;
  float: left;
  cursor: default;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.brick .img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.brick h3, .brick h5 {
  text-shadow: none;
}

.info {
  padding: 15px;
  color: #333;
}

.main-grid {
  margin-top: 60px;
}





.header {
  width: 100%;
  background: #111111;
  height: 60px;
  line-height: 1;
  position: fixed;
  z-index: 10000;
  top: 0;
}

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  height: 60px;
  text-align: left;
  position: relative;
}

.search, .social, #loadingDiv {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
}

.search {
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
  width: 40%;
}

#searchterm {
  width: 100%;
  max-width: 400px;
  height: 30px;
  font-size: 18px;
  border-radius: 8px;
  border: 0;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255,.1);
  padding: 10px;
  outline: 0px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

.navextra {
  vertical-align: top;
  position: absolute;
  left: 40%;
  top: 0;
  width: 50%;
  height: 50px;
}

.social {
  display: inline-block;
  vertical-align: top;
  left: 30%;
  width: 100%;
}

.share {
  display: inline-block;
  vertical-align: top;
  color: #FFF;
  font-size: 32px;
  padding-top: 7px;
  height: 50px;
  width: 20%;
  opacity: 1;
  text-align: center;
}

.share:hover {
    opacity: 0.7;
}

.sbg-facebook {
    background: #3971B6;
}

.sbg-twitter {
    background: #A0D6E2;
}

.sbg-github {
    background: #333333;
}

.sbg-help {
    background-color: #3D9970;
}


.loadinggif {
  background-image: url('../images/spin.gif');
  background-repeat: no-repeat;
  background-position: right;
}


#modal-close {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url('../images/close.png') no-repeat 0 0;
}
